/* Algemeen */
* {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,0,0,0);
    border: 3px solid #4b74ff;
    border-radius: 27px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #4b74ff;
    transition: ease-in-out .3s;
}

/* Navbar */

#nav-bar {
    height: 50px;
    background: #393939;
    width: 100%;
    position: fixed;
    z-index: +1;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

#nav-bar a.brand {
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}

#nav-bar a.nav-link{
    display: inline-block;
    text-align: center;
    border: none;
    height: 47px;
    padding: 0 20px;
    margin: 0;
    line-height: 50px;
    background: #393939;
    color: #fff;
    border-bottom: 3px solid #393939;
}

#nav-bar a.active {
    border-bottom: 3px solid #4b74ff;
}

#nav-bar a.nav-link:hover {
    border-bottom: 3px solid #4b74ff;
}

#nav-bar a#dropdownButton {
    display: none;
}

/* spacer omdat nav static is */
#spacer {
    height: 80px;
    width: 100%;
    display: block;
}

#warning {
    height: auto;
    background: #ff3253;
}

#warning p {
    line-height: 30px;
    color: #fff;
    text-align: center;
}

/* Heading */
#heading {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("../assets/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
    -moz-box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
    box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
    position: relative;
}

#heading .tekst {
    position: absolute;
    left: 20px;
    bottom: 50px;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

#heading .tekst h1 {
    font-size: 4em;
}

#heading .tekst a {
    text-decoration: none;
    color: #fff;
    padding: 20px 10px 20px 0;
    transition: ease-in-out .3s;
}

#heading .tekst a:hover {
    color: #4b74ff;
    transition: ease-in-out .3s;
}

#heading .tekst span {
    padding: 20px 5px 20px 5px;
}

/* informatie */
#informatie {
    margin: 20px 0;
    width: 100%;
}

#informatie:after {
    content: "";
    clear: both;
    display: block;
}

#informatie .container article {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#informatie .container article:nth-child(2) {
    width: calc(100% / 3 - 2px);
    border-right: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
}

#informatie .container article i {
    font-size: 25px;
    padding: 0 20px 20px 20px;
    color: #495aff;
}

#informatie .container article p {
    text-align: center;
    padding: 0 20px;
}

#informatie .container article a {
    color: #000;
    text-decoration: none;
    transition: ease-in-out .3s;
    text-align: center;
}

#informatie .container article a:hover {
    color: #4b74ff;
    transition: ease-in-out .3s;
}

/* onder */
#onder {
    width: 100%;
}

#onder:after {
    content: "";
    clear: both;
    display: block;
}

/* formulier */
#formulier {
    width: 50%;
    float: left;
}

#formulier:after {
    content: "";
    clear: both;
    display: block;
}

#formulier h1 {
    font-size: 2em;
    margin: 10px 0;
}

#formulier .container #linksboven {
    width: calc(50% - 20px);
    display: inline-block;
    margin-right: 20px;
    float: left;
}

#formulier .container #rechtsboven {
    width: calc(50% - 20px);
    display: inline-block;
    margin-left: 20px;
}

#formulier .container input, #formulier .container textarea {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

#formulier .container input.button {
    background: #495aff;
    display: block;
    transition: ease-in-out .3s;
}

#formulier .container input.button:hover {
    background: #2d45c7;
    transition: ease-in-out .3s;
}

/* Openingsuren */
#openingsuren {
    width: 50%;
    float: left;
}

#openingsuren .container h1 {
    font-size: 2em;
    margin: 10px 0;
}

#openingsuren .container table tr td {
    padding: 10px 5px;
}

#openingsuren .container p {
    margin-top: 10px;
}

#openingsuren .container a {
    color: #4b74ff;
    text-decoration: none;
}

/* Footer */
footer {
    background: #f2f2f2;
    border: 10px solid #fff;
    border-radius: 20px;
}

footer ul {
    display: inline-block;
    padding: 10px 10px 10px 0;
    list-style: none;
    top: 0;
}

footer ul li {
    padding: 2px;
}

footer a {
    color: #495aff;
    text-decoration: none;
}

footer p {
    padding-bottom: 10px;
}

footer p.naar-boven {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Media queries */
@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        left: 0;
    }

    #nav-bar a:not(.active) {
        display: none;
    }

    #nav-bar a#dropdownButton {
        display: inline;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-bar.unfolded {
        height: fit-content;
    }

    #nav-bar.unfolded a.nav-link {
        display: block;
        text-align: left;
    }

    #nav-bar.unfolded a#dropdownButton {
        border-bottom: none;
        margin-bottom: 3px;
    }

    #nav-bar a#dropdownButton:hover {
        border-bottom: 3px solid #393939;
    }

    #heading {
        height: 30vh;
    }

    #informatie .container article {
        float: none;
        border: none;
        position: relative;
        width: 80%;
        left: 10%;
    }

    #informatie .container article:nth-child(2) {
        border-left: none;
        border-right: none;
        border-top: 1px solid #bcbcbc;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        width: 80%;
        left: 10%;
        margin: 10px 0;
    }

    #informatie .container article:nth-child(2) i {
        margin-top: 10px;
    }

    #informatie .container article:nth-child(2) p {
        margin-bottom: 10px;
    }

    #formulier, #openingsuren {
        float: none;
        width: 90%;
        position: relative;
        left: 5%;
    }

    footer .container ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    footer .container ul:first-child {
        padding-top: 10px;
    }

    footer .container ul li {
        display: inline-block;
        float: left;
        padding: 5px 0;
        width: calc(100% / 3);
        text-align: center;
    }

    footer .container p {
        display: block;
        text-align: center;
    }

    footer .container p.naar-boven {
        position: relative;
        top: 0;
        left: 0;
    }

}