/* Algemeen */
* {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,0,0,0);
    border: 3px solid #4b74ff;
    border-radius: 27px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #4b74ff;
    transition: ease-in-out .3s;
}

/* Navbar */

#nav-bar {
    height: 50px;
    background: #393939;
    width: 100%;
    position: fixed;
    z-index: +1;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

#nav-bar a.brand {
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}

#nav-bar a.nav-link{
    display: inline-block;
    text-align: center;
    border: none;
    height: 47px;
    padding: 0 20px;
    margin: 0;
    line-height: 50px;
    background: #393939;
    color: #fff;
    border-bottom: 3px solid #393939;
}

#nav-bar a.active {
    border-bottom: 3px solid #4b74ff;
}

#nav-bar a.nav-link:hover {
    border-bottom: 3px solid #4b74ff;
}

#nav-bar a#dropdownButton {
    display: none;
}

/* spacer omdat nav static is */
#spacer {
    height: 80px;
    width: 100%;
    display: block;
}

#warning {
    height: auto;
    background: #ff3253;
}

#warning p {
    line-height: 30px;
    color: #fff;
    text-align: center;
}

/* heading */
#heading {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%), url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
    -moz-box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
    box-shadow: 0px 1px 10px 0px rgba(54,54,54,0.6);
}

#heading article {
    position: relative;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    color: #fff;
}

#heading article h1 {
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
}

#heading .button {
    margin: 50px 0 0 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* artikels */
#mid {
    width: 100%;
    margin-top: 10px;
}

#mid:after {
    content:"";
    clear:both;
    display:block;
}

#mid .container h1 {
    padding: 20px 0 20px 5px;
    font-size: 2em;
}


#mid .container .artikel {
    width: calc(25% - 10px);
    margin: 5px;
    background: #dcdcdc;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(54,54,54,0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(54,54,54,0.6);
    box-shadow: 1px 1px 10px 0px rgba(54,54,54,0.6);
}

#mid .container .artikel img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: ease-in-out .5s;
}

#mid .container .artikel img:hover {
    transform: scale(1.1);
    opacity: .8;
    transition: ease-in-out .5s;
}

#mid .container .artikel span {
    padding-left: 15px;
}

#mid .container .artikel p {
    padding: 10px 15px 0 15px;
    height: 100px;
    overflow: hidden;
}

#after-mid .button {
    color: #4b74ff;
    position: relative;
    margin: 30px 0;
    left: 50%;
    transform: translateX(-50%);
}

#after-mid .button:hover {
    color: #fff;
}

/* Footer */
footer {
    background: #f2f2f2;
    border: 10px solid #fff;
    border-radius: 20px;
}

footer ul {
    display: inline-block;
    padding: 10px 10px 10px 0;
    list-style: none;
    top: 0;
}

footer ul li {
    padding: 2px;
}

footer a {
    color: #495aff;
    text-decoration: none;
}

footer p {
    padding-bottom: 10px;
}

footer p.naar-boven {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Media queries */

@media screen and (max-width: 1100px) {
    #mid .container .artikel {
        width: calc(50% - 10px);
    }
}


@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        left: 0;
    }

    #nav-bar a:not(.active) {
        display: none;
    }

    #nav-bar a#dropdownButton {
        display: inline;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-bar.unfolded {
        height: fit-content;
    }

    #nav-bar.unfolded a.nav-link {
        display: block;
        text-align: left;
    }

    #nav-bar.unfolded a#dropdownButton {
        border-bottom: 3px solid #4b74ff;
    }

    #nav-bar.unfolded a#dropdownButton:hover {
        border-bottom: 3px solid #4b74ff;
    }

    #nav-bar a#dropdownButton:hover {
        border-bottom: 3px solid #393939;
    }

    #heading article {
        width: 90%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
    }

    #heading article h1 {
        font-size: 1.5em;
        text-align: center;
    }

    #mid .container h1 {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    #mid .container .artikel {
        width: calc(100% - 10px);
    }

    footer .container ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    footer .container ul:first-child {
        padding-top: 10px;
    }

    footer .container ul li {
        display: inline-block;
        float: left;
        padding: 5px 0;
        width: calc(100% / 3);
        text-align: center;
    }

    footer .container p {
        display: block;
        text-align: center;
    }

    footer .container p.naar-boven {
        position: relative;
        top: 0;
        left: 0;
    }

}